---
layout: default
---

<div class="wrapper-full">

  <div class="home">

    <h1 class="page-heading">Projects / Experiences</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <div class="post-list-name">
            <span class="post-meta">project_name:</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </div>
          <div class="post-list-item">
            <span class="post-meta">live_at:</span>
            {% if post.link %}
              <a class="post-link-small" href="{{ post.link }}">{{ post.link_name }}</a>
            {% else %}
              <p class="post-item-desc">n/a</p>
            {% endif %}
          </div>
          <div class="post-list-item">
            <span class="post-meta">role:</span>
            <p class="post-item-desc">{{ post.role }}</p>
          </div>
          <div class="post-list-item">
            <span class="post-meta">context:</span>
            {% if post.context_link %}
              <a class="post-link-small" href="{{ post.context_link }}">{{ post.context }}</a>
            {% else %}
              <p class="post-item-desc">{{ post.context }}</p>
            {% endif %}
          </div>
          <div class="post-stack post-meta">
            {{ post.stack | join: ', ' }}
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
