---
layout: default
---

<div class="wrapper-full">

  <div class="home">

    <ul class="post-list">
      {% for post in site.posts %}
        <div class="post-mdash"><h2>&mdash;</h2></div>
        <li>
          <div class="post-list-name">
            <span class="post-meta toggle-text">project_name:</span>
            <h2>
              {% if post.follow %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              {% else %}
                <p class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</p>
              {% endif %}
              {% if post.github %}
                <a href="{{ post.github }}"><i class="fa fa-github"></i></a>
              {% endif %}
              {% if post.link %}
                <a href="{{ post.link }}"><i class="fa fa-link"></i></a>
              {% endif %}
            </h2>
          </div>
          <div class="post-list-item toggle-text">
            <span class="post-meta">live_at:</span>
            {% if post.link %}
              <a class="post-link-small" href="{{ post.link }}">{{ post.link_name }}</a>
            {% else %}
              <p class="post-item-desc">n/a</p>
            {% endif %}
          </div>
          <div class="post-list-item toggle-text">
            <span class="post-meta">role:</span>
            <p class="post-item-desc">{{ post.role }}</p>
          </div>
          <div class="post-list-item toggle-text">
            <span class="post-meta">context:</span>
            {% if post.context_link %}
              <a class="post-link-small" href="{{ post.context_link }}">{{ post.context }}</a>
            {% else %}
              <p class="post-item-desc">{{ post.context }}</p>
            {% endif %}
          </div>
          <div class="post-stack post-meta toggle-text">
            <span class="emph animated pulse">Technologies</span>
            {{ post.stack | join: ', ' }}
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
