.post-list {

  margin-left: 0;
  list-style: none;

  h2 { margin: 0; }

  .post-mdash {
    padding-top: 38px;
    float: left;
    width: 3%;
  }

  > li {
    float: left;
    width: 97%;
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid white;
    @extend %clearfix;

    div {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      float: left;
      padding: ($spacing-unit / 2) 0;
      border-top: 1px solid white;
    }

    .post-stack {
      width: 100%;
      border: none;
      padding: 0 0 5px;
    }

    .post-list-name { width:  40%; }
    .post-list-item { width:  18%; margin-left: 2%; }

    .toggle-text {
      opacity: 0;
    }

    &:hover {
      border-bottom: 1px solid $grey-color-light;
      -webkit-transition: border 2s;
      -moz-transition: border 2s;
      transition: border 2s;

      div {
        border-top: 1px solid $grey-color-light;
        -webkit-transition: border 2s;
        -moz-transition: border 2s;
        transition: border 2s;
      }

      .post-stack {
        border: none;
      }

      .toggle-text {
        opacity: .7;
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        transition: opacity 2s;
      }
    }
  }

  .fa {
    font-size: $base-font-size * 1.125;
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }

  .post-link {
    display: block;
    font-size: $base-font-size * 1.5;
  }

  .post-link-small, .post-item-desc {
    margin: 0;
    display: block;
    font-size: $base-font-size;
  }

}

