.post-list {

  margin-left: 0;
  list-style: none;

  h2 {
    margin: 0;
  }

  > li {
    width: 100%;
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid $grey-color-light;
    @extend %clearfix;

    div {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      float: left;
      border-top: 1px solid $grey-color-light;
      padding: ($spacing-unit / 2) 0;
    }

    .post-list-name { width: 40%; }
    .post-list-item { width: 18%; margin-left: 2%; }
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }

  .post-link {
    display: block;
    font-size: $base-font-size * 1.5;
  }

  .post-link-small, .post-item-desc {
    margin: 0;
    display: block;
    font-size: $base-font-size;
  }

}

